{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row g-3">
        <div class="col-6">
            <form class="row g-3" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                         Войти
                        </button>
                        <a href="{% url 'users:new_password' %}" class="btn btn-link">
                        Забыли пароль?
                    </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
