{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.title}} ({{ object.slug }})</h4>
                </div>
                {% if object.photo %}
                <img src="{{ object.photo | media_filter }}">
                {% endif %}
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{object.description}}</li>

                        <li>Дата добавления: {{object.created_at}}</li>

                    </ul>
                    <a class="btn btn-primary" href="{% url 'catalog:blog' %}" role="button">Назад</a>
                </div>
            </div>
            <div class="card-footer">
                Просмотры: {{ object.views_count}}
            </div>
        </div>
    </div>
</div>

{% endblock %}
